body {
      min-height: 100vh;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #f1f5f9;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      background-color: white;
      box-shadow: 0px 0px 25px -5px rgb(178, 180, 184);
}

header h1 {
      margin-left: 40px;
}

nav {
      display: flex;
      gap: 25px;
      font-size: 1.2rem;
      margin-left: auto;
      margin-right: 60px;
}

nav label:hover {
      cursor: pointer;
      font-weight: 700;
}

.selected {
      font-weight: 700;
}

header input {
      padding: 10px;
      margin-right: 40px;
      border-radius: 8px;
}

.grid {
      margin-top: 20px;
      display: grid;
      gap: 2rem;
      grid-template-columns: repeat(3, 1fr);
      margin-bottom: 2rem;
      align-items: flex-start;
}

.card {
      background-color: white;
      border-radius: 8px;
      height: max-content;
      width: 350px;
      overflow: hidden;
      box-shadow: 2px 10px 25px #caced1;
}

.card-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
}

.data,
.product-description,
.price-container {
      gap: 10px;
      display: flex;
      align-items: center;
}

.data svg,
.product-description svg {
      height: 25px;
      width: 25px;
      fill: grey;
}

.upper-data {
      display: flex;
      align-items: center;
      width: -moz-available;
      padding: 15px;
      gap: 15px;
      background-color: #bdd2ff;
}

.upper-data svg {
      height: 60px;
      width: 60px;
}

.names {
      display: flex;
      flex-direction: column;
}

.names span {
      font-weight: 600;
}

.middle-data {
      width: -moz-available;
      padding-left: 15px;
}

.lower-data {
      width: -moz-available;
      overflow: hidden;
}

.address {
      margin-left: 15px;
}

.address #address-arrow {
      margin-left: auto;
      margin-right: 10px;
      padding: 5px;
      transition: transform 0.3s ease;
}

.address #address-arrow:hover {
      background-color: #ebebeb;
      cursor: pointer;
}

.address-extra {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 0fr);
      gap: 0;
      margin: 0;
      column-gap: 0;
      transition: all 0.3s ease;
      overflow: hidden;
}

.address-extra-info {
      min-height: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 7px;
      overflow: hidden;
      margin-left: 30px;
}

.address-extra-info label {
      color: grey;
      font-weight: 700;
      align-content: center;
}

.address-extra-info span {
      align-content: center;
      font-size: 0.9rem;
}

.change-icon {
      transform: rotate(180deg);
}

.website {
      background-color: #f8fafc;
      color: #4178ed;
      font-weight: 700;
      padding-left: 15px;
}

.website:hover {
      cursor: pointer;
}

.website svg {
      fill: #4178ed !important;
}

.website svg:last-child {
      margin-left: auto;
      margin-right: 10px;
      padding: 5px;
}

.oculto {
      display: none;
}

.product-image {
      flex: 2;
      width: 100%;
      background-color: #f5f5f5;
      overflow: hidden;
}

.product-image img {
      object-fit: contain;
      height: 300px;
      width: 100%;
      transition: scale 0.3s ease;
}

.product-image img:hover {
      scale: 120%;
}

.product-info {
      flex: 1;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
}

.product-info label {
      padding: 15px;
}

.product-info #title {
      font-size: 1.1rem;
      padding: 10px;
      font-weight: 400;
      text-align: left;
      display: -webkit-box;
      max-lines: 2;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      height: 3rem;
      line-height: 1.4;
}

.price-container {
      padding-top: 0 !important;
}

.price-container #price {
      font-size: 1.2rem;
      color: #00375e;
}

.price-container #category {
      background-color: #e1e4e8;
      border-radius: 8px;
      padding: 5px 10px;
}

.product-description {
      margin-bottom: auto;
      margin-left: 0;
}

.product-description:hover {
      background-color: #ebebeb;
      cursor: pointer;
}

.product-description #arrow,
.price-container #category {
      margin-left: auto;
      margin-right: 10px;
      padding: 5px;
      transition: transform 0.3s ease;
}

.description-text {
      display: grid;
      grid-template-rows: 1fr;
      padding: 5px 20px;
      background-color: #ebebeb;
      transition: grid-template-rows 0.3s ease, padding 0.3s ease, opacity 0.3s ease;
}

.description-text p {
      min-height: 0;
      margin: 0;
      overflow: hidden;
}

.text-oculto {
      grid-template-rows: 0fr;
      opacity: 0;
      padding-top: 0;
      padding-bottom: 0;
}

.visible {
      grid-template-rows: repeat(2, 1fr);
      gap: 15px;
      margin: 10px;
}
